<!-- タイトルの表示 -->
<div id="index_tytle" class="letter">
</div>

<!-- タイトル背景画像の表示 -->
<div id="index_tytle" class="backgroundpict"></div>

<!-- 文言1 -->
<div id="sub_tytle" class="letter1">
	<h6>会社のみんなでお花見だぁー☆<br />このゆびとーまれっ！！<br />きがすすまないけどー！！</h6>
</div>

<!-- logo1 -->
<div id="sub_tytle" class="logo1">
<%= image_tag "logo_blue_2.png" %>
</div><!-- sub_tytle -->

<!-- 文言2 -->
<div id="sub_tytle" class="letter2">
	<h6>たまには一緒にカラオケなんかどう？<br />このゆびとまりたい人ー？？</h6>
</div><!-- sub_tytle -->

<!-- logo2 -->
<div id="sub_tytle" class="logo2">
<%= image_tag "logo_yellow_2.png" %>
</div><!-- sub_tytle -->

<!-- 文言3 -->
<div id="sub_tytle" class="letter3">
	<h6>キャンプいきましょう！！<br />だれか来るひといるー？</h6>
</div><!-- sub_tytle -->

<!-- logo3 -->
<div id="sub_tytle" class="logo3">
<%= image_tag "logo_green_2.png" %>
</div><!-- sub_tytle -->

<!-- 文言4 -->
<div id="sub_tytle" class="letter4">
	<h6>あの・・・その・・・<br />紅葉狩りにいきませんか？</h6>
</div><!-- sub_tytle -->

<!-- logo4 -->
<div id="sub_tytle" class="logo4">
<%= image_tag "logo_red_2.png" %>
</div><!-- sub_tytle -->

<!-- 文言5 -->
<div id="sub_tytle" class="letter5">
	<h6>久しぶりに同窓会やろうや<br />みんなあつまれー！！</h6>
</div><!-- sub_tytle -->

<!-- logo5 -->
<div id="sub_tytle" class="logo5">
<%= image_tag "logo_black_2.png" %>
</div><!-- sub_tytle -->

<!-- large letter -->
<div id="sub_tytle" class="largeletter">
	<h6> CONOYUBIとまれます</h6>
</div><!-- sub_tytle -->

<!--ロゴの表示-->
<div id="index" class="logo">
	<div align="center">
		<%= image_tag "Mainlogo.png", :width => '300', :height => '300' %>
	</div>
</div><!--index-->

<!-- ログインページの表示 -->
<div id="loginb">
 <%= link_to image_tag("botton_3_4.png"), "http://www.cono-yubi.com/cono-top/auth/facebook" %>
<!-- <%= link_to 'facebook', "/auth/facebook" %> -->
<!-- <a href = "/auth/facebook" id = "loginb" >login</a> -->
</div>

<!-- conoyubi説明ページの表示 -->
<div id="whatb">
 <%= link_to image_tag("whatisconoyubi.png"), "http://www.cono-yubi.com/cono-top/whatisconoyubi" %>
<!-- <a href = "whatisconoyubi" >conoyubiとは</a> -->
</div>

