<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.uid %>
</p>

<p>
  <b>User name:</b>
  <%= @user.name %>
</p>

<p>
  <b>User age:</b>
  <%= @user.user_age %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
