<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml" dir = "ltr" xml:lang = "ja"
		xmln:fb = "https://www.facebook.com/2008/fbml#"
		xmlns:mixi = "http://mixi-platform.com/ns#">
<head prefix = "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# conoyubi: http://ogp.me/ns/fb/conoyubi#">
  <link rel="shortcut icon" href="assets/favicon.ico">
  <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="copyright" content="Copyright Netowl Corporation" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta property="og:title"        content="CONOYUBI" />
  <meta property="og:type"         content="website" />
  <meta property="og:url"          content="http://www.cono-yubi.com/cono-top" />
  <meta property="og:site_name"    content="?CONOYUBI" />
  <meta property="fb:admins"       content="238965046184776" />
  <link rel="shortcut icon" href="./img/favicon.ico">
  <title>ConoYubi-イベント一覧ページ-</title>
  <!-- Begin FBinitializing -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "smart/events_smart_phone","smart/iscroll" %>
  <%= javascript_include_tag "iscroll","FB_init","FB_function","Original_function" %>

  <%= csrf_meta_tags %>
  <style type="text/css"><!--
   body { margin: 0px; padding: 0px; }
--></style>
  <script type="text/javascript">//googleAnalytics

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35885466-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="header">
<div id="make"><a href="javascript:void(0);" id="makea">MAKE</a></div>
<div id="find"><%= link_to "FIND", :controller => "events", :action => "index" %></div>
<div id="mypage"><%= link_to "MYPAGE", :controller => "events", :action => "indexMypage" %></div>
</div>
<div id="wrapper">
	<div id="scroller">
		<!--ロゴの表示-->
		<div id="index" class="logo">
				<%= image_tag "Sublogo.png" %><h2>イベント一覧</h2>
		</div><!--index-->
		<div id="likebutton">
			<div id="fb-root">
			</div>
			<!-- Begin Likebutton Set -->
			<div id = "likeb" >
				<div class="fb-like" data-href="http://www.cono-yubi.com/cono-top" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true">
				</div><!-- fb-like -->
				<div id = "requestb" >
					  <a href="" onclick="sendRequestViaMultiFriendSelector(); return false;" >CONOYUBIを友達にすすめる</a>
				</div>
				<!-- End Send Request form -->
				<!-- End Likebutton -->
			</div>
			<!-- Begin Send Request form -->
		</div>
		<div id="page1">
		   <%= yield %>
		</div>
		<div id="page2">
			<%= render "form" %>
		</div>
		
<div id="foot">
	<address>Copyright &copy; cono-yubi. All Rights Reserved.</address>
</div><!-- /footer -->

		<div id="Mcommercial_bottom">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-3122541972673098";
			/* ハーフモバイル一覧下 */
			google_ad_slot = "8732868866";
			google_ad_width = 310;
			google_ad_height = 60;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div><!-- GoogleAd -->
	
	</div><!-- End scroller -->
</div><!-- End wrapper -->
<!-- 以下はスクリプトスペース -->
<script type="text/javascript" src="/cono-top/assets/navigator"></script>
<script type="text/javascript">
var myScroll;

function loaded() {
    myScroll = new iScroll('wrapper', {
        useTransform: false,
        onBeforeScrollStart: function (e) {
            var target = e.target;
            while (target.nodeType != 1) target = target.parentNode;
            if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA' && target.tagName != 'LABEL')
                e.preventDefault();
        }
    });
}
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', loaded, false);
</script>
</body>
</html>
